@model  TestProjet.Models.Commande

@{
    ViewBag.Title = "Etape4";
}

<h2>Payment</h2>
<div class="row">
    <div class="col-md-7">
        <img src="~/Content/Image/Commande/etape4.png" class="img-responsive" />
    </div>
    <div class="col-md-5">
        
    </div>
</div>

Le payement n'est pas implémenté, l'image ci-dessous est ici pour donner un exemple de l'interface
<div class="row">
    <div class="col-md-7">
        <img src="~/Content/Image/Commande/paiment.PNG" class="img-responsive"/>
    </div>
    <div class="col-md-5">
        <p>
        Produits achetés: @ViewBag.montant € <br/>

        Frais de livraison : 
        @switch ((int)Model.id_methode_livraison)
        {
            case 1:
                <text> 5 €</text>
                break;
            case 2:
                <text>10 € </text>
                break;
            case 3:
                <text>8 €</text>
                break;
            default:
                <text>7 €</text>
                break;
        }
        <br/>
        <hr/>
        <h3>Total :
            @{ 
                int total = ViewBag.montant;
                switch ((int)Model.id_methode_livraison)
                {
                    case 1:
                        total += 5;
                        break;
                    case 2:
                        total += 10;
                        break;
                    case 3:
                        total += 8;
                        break;
                    default:
                        total += 7;
                            break;
                }
                <text> @total </text>
            }
             € </h3>
        </p>
    </div>
</div>



@using (Html.BeginForm("Confirmation", "Commandes", FormMethod.Post))
{

    @Html.HiddenFor(model => model.id_methode_livraison, new { htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.id_livraison, new { htmlAttributes = new { @class = "form-control" } })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="bouton" value="Payer" />
        </div>
    </div>
}
